/*  your css code here. If applicable */
.block-heading {
  color: #3b99e0;
  text-align: center;
  margin-top: 20px;
}
.summary {
  border-top: 3px solid #5ea4f3;
  background-color: #f7fbff;
  padding: 20px;
}
.summary .btn-primary {
  background-color: #3b99e0;
  border-color: #3b99e0;
  width: 100%;
}
.summary .border-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}